/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --gris:  #CCCCCC;
}

body {
  font-size: 1.6rem;
  background-color: #f0f0f0;
}

.header {
  width: 100%;
  height: 5rem;
  background-color: var(--gris);
  margin-bottom: 1.5rem;
  
}



 .center {
  width: 100%;
  max-width: 840px;
  margin: auto;
  

} 

.slider {
  width: 100%;
  height: 40rem;
  background-color: var(--gris);
  margin-bottom: 10rem;
  
}

.card1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10rem;

  
}

.card1 > div {
  height: 15rem;
  width: 23.125%;
  background-color: var(--gris);
}

.card2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10rem;

  
}

.card2 > div {
  height: 15rem;
  width: 23.125%;
  background-color: var(--gris);
}

.circles {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10rem;

  
}

.circles > div {
  height: 15rem;
  width: 15rem;
  background-color: var(--gris);
  border-radius: 50%;
}
.card4 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10rem;

  
}

.card4 > div {
  height: 15rem;
  width: 23.125%;
  background-color: var(--gris);
}



.card5 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10rem;
  gap: 2rem;
  
}

.card5 div:first-child {
  height: 20rem;
  width: 50%;
  background-color: var(--gris);
}

.card5 div:last-child {
  height: 20rem;
  width: 50%;
  background-color: var(--gris);
   
}

.footer {
  width: 100%;
  height: 12rem;
  background-color: var(--gris);
  margin-bottom: 5rem;
}


/*
max widht: 800px
margin-right: 2rem

medidas estandar para crear cards
en dispositivos movil a partir de 375px los cards se veran al 100% del ancho
en un dispositivo movil de 640px medida de taitwind se puede ver de uno a dos cards, si son dos card se dividen en el 50% cada uno   
en tablets de 768px entre 3 o 4 cards dependiendo el diseño. si obtienes 3 cards el ancho es de 33.33%
en pcs de 1024px el ingreso minimo es de 4 cards se dividen en 25% cada card
estas medidas son estandar y van a depender del ancho del padre(card1) y a su vez el ancho del padre(center) toma el ancho del padre  
*/
